@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h5 {
    @apply font-bold my-2
}
nav>div>div {
    backdrop-filter: blur(4px);
}
.hero, .rightCorner {

    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 20vw)
    );
}
.hero {
    height: 80vh
}
@media screen and (min-width: 650px) { 
    .hero {
        clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 10vw)
    );
    }
}
.leftCorner {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 12vw),
        0 100%
    );
}
.leftCornerPic {
    position: relative;
    height: 300px;
    clip-path: polygon(
        0 0,
        100% calc(100% - 30vw),
        100% 100%,
        0 calc(100% - 30vw)
    );
}
.leftCorner {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 12vw),
        0 100%
    );
}

.drpdwn {
    position: relative;
}
.drpdwn-content {
    position: absolute;
    display: none;
    border-radius: 8px;
}
.drpdwn:hover .drpdwn-content {
    display: block;
    margin-top: 4px;
}
.revealSide { 
    opacity: 0;
    scale: 0.4;
    transition: .5s;
}
.revealSide.active { 
    opacity: 1;
    scale: 1;
}
.zoom { 
    scale: 0.8;
    opacity: 0;
    transition: 1.5s;
}
.zoom.active { 
    scale: 1;
    opacity: 1;
}
