@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h5 {
    @apply font-bold my-2
}
nav>div>div {
    backdrop-filter: blur(4px);
}
.hero, .rightCorner {

    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 20vw)
    );
}
.hero {
    height: 80vh
}
@media screen and (min-width: 650px) { 
    .hero {
        height: 100vh;
        clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 10vw)
    );
    }
}
.leftCorner {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 12vw),
        0 100%
    );
}
.leftCornerPic {
    position: relative;
    height: 300px;
    clip-path: polygon(
        0 0,
        100% calc(100% - 30vw),
        100% 100%,
        0 calc(100% - 30vw)
    );
}
.leftCorner {
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 12vw),
        0 100%
    );
}
.Card {
    height: 8.4rem;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Card.active {
    height: 40rem;
}
.drpdwn {
    position: relative;
}
.drpdwn-content {
    position: absolute;
    display: none;
    border-radius: 8px;
}
.drpdwn:hover .drpdwn-content {
    display: block;
    margin-top: 4px;
}
.revealTop { 
    transform: translateY(18px);
    opacity: 0;
    transition: 1.5s;
}
.revealTop.active { 
    transform: translateY(0);
    opacity: 1;

}
.zoomIn { 
    scale: 0.8;
    opacity: 0;
    transition: 1s;
}
.zoomIn.active { 
    scale: 1;
    opacity: 1;
}
